<!-- app/templates/home/index.html -->
<!-- 07/19/18 -->

{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="intro-header">
                <div class="intro-message">
                    <h1>CheckList</h1>
                    <h3>The easier way to get things done</h3>
                    </ul>
                </div>
                <div class="container-fluid">
                    <div class="row" style="margin-top: 20px;">
                        <div class="col-xs-12 col-sm-4">
                            <h1> add to the list</h1>
                            <img src="../../static/img/plus.png" class="img-responsive">
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <h1> put in work</h1>
                            <img src="../../static/img/gears.png" class="img-responsive">
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <h1> check it off</h1>
                            <img src="../../static/img/check.svg" class="img-responsive">
                        </div>
                </div>
</div>
{% endblock %}